// All Variables

// Colors
$primary-color: #3d6098;
$primary-color-dark: #112352;
$accent-color: #f04b4c;
$bg-primary: #e7e7e7;
$warning-color: #ffcc00;
$warning-transparent: #ffcc006e;
$danger-color: #df4759;
$danger-transparent: #df47596e;
$success-color: #42ba96;
$success-transparent: #42ba966e;



// Dimensions


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$primary-font : 'Open Sans', sans-serif;
