@import 'config';
@import 'base';
@import 'buttons';

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color-dark;
    border-bottom: 1px solid $primary-color;

    .logo {
        width: 200px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #fff;
            margin-right: 1rem;
            transition: all 0.3s ease;
        }

        a:hover {
            color: $accent-color;
            transform: scale(.98);
        }

        span a:hover {
            color: #fff;
        }

    }
}

section {
    height: 86.76vh;
    background-color: $primary-color-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        color: #fff;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .subtitle {
        color: $accent-color;
    }
}