@import 'config';
@import 'base';
@import 'buttons';
@import 'stats-formulas';
@import 'stats';
@import 'science';
@import 'math';
@import 'permutations';

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid $primary-color;

	.logo {
		width: 200px;
		height: 100px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			color: #000;
			margin-right: 1rem;
			transition: all 0.3s ease;
		}

		a:hover {
			color: $accent-color;
			transform: scale(0.98);
		}

		span a:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

.home {
	height: 86.76vh;
	background-color: $primary-color-dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h1 {
		color: #fff;
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.subtitle {
		color: $accent-color;
	}
}

.resources {
	height: 100vh;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	.card-margin {
		margin-bottom: 1.875rem;
	}

	.card {
		border: 0;
		box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #ffffff;
		background-clip: border-box;
		border: 1px solid #e6e4e9;
		border-radius: 8px;

		&-header.no-border {
			border: 0;
		}

		&-header {
			background: none;
			padding: 0 0.9375rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			min-height: 50px;
		}

		&-header:first-child {
			border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
		}

		.resource {
			&-title-wrapper {
				display: flex;
				align-items: center;

				.resource-primary {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background-color: #edf1fc;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;

					.resource-number {
						color: #4e73e5;
						font-weight: 500;
						font-size: 2rem;
						line-height: 1;
					}
				}

				.resource-success {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background-color: #e8faf8;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;

					.resource-number {
						color: $success-color;
						font-weight: 500;
						font-size: 2rem;
						line-height: 1;
					}
				}

				.resource-warning {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background-color: #fffaf0;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;

					.resource-number {
						color: $warning-color;
						font-weight: 500;
						font-size: 2rem;
						line-height: 1;
					}
				}

				.resource-info {
					display: flex;
					flex-direction: column;
					margin-left: 1rem;

					.resource-title {
						color: #3c4142;
						font-size: 14px;
					}
				}
			}

			p {
				font-weight: 400;
				font-size: 13px;
				margin-top: 0.5rem;
				color: #727686;
			}

			.resource-meeting-action {
				text-align: right;

				a {
					text-transform: uppercase;
				}
			}
		}
	}
}

.contact {
    background-color: $primary-color-dark;
    height: 50vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        color: $bg-primary;
    }

    .social-icons {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;

        .social-icon {
            margin-right: 1rem;
            font-size: 2.5rem;

            .la-linkedin-in{
                color: $warning-color;
            }

            .la-whatsapp {
                color: $success-color;
            }

            .la-instagram {
                color: $danger-color;
            }
        }
    }

}

footer {
    img {
        object-fit: cover;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a i{
            transition: all 0.3s ease;
        }

        a:hover {
            text-decoration: none;
        }

        a:hover i{
            transform: scale(1.15);
        }

        a i {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }

    .strip {
        background-color: $bg-primary;

        a {
            color: $accent-color;
        }

        .languages {
            font-size: 2.5rem;
        }
    }

}

@media screen and (max-width: 500px) {
    header {


        .menu {
            display: none;
        }
    }
}