@import 'config';
@import 'base';

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 200px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu {
        display: flex;
        align-items: center;
    }
}